.label {
    -fx-label-padding: 3.5px;
    -fx-background-radius: 10px;
}

#titulo_principal {
    -fx-text-fill: #001C54;
    -fx-background-color: white;
}

.icon {
    -fx-fit-width: 85px;
    -fx-fit-height: 85px;
}

.iconsmall {
    -fx-fit-width: 45px;
    -fx-fit-height: 45px;
}

.iconbutton {
    -fx-fit-width: 25px;
    -fx-fit-height: 25px;
}

.button{
    -fx-background-color: #1B365D;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: "Arial Black";
    -fx-padding: 6 12;
    -fx-font-size: 12px;
}

.button:hover {
    -fx-cursor: hand;               /* Muda o mouse para a "mãozinha" */
    -fx-scale-x: 1.05;              /* Dá um leve zoom (efeito de pulo) */
    -fx-scale-y: 1.05;
}

/* Estado quando o botão é clicado */
.button:pressed {
    -fx-scale-x: 0.95;              /* O botão "encolhe" levemente */
    -fx-scale-y: 0.95;
}

#hamburger:hover {
    -fx-cursor: hand;               /* Muda o mouse para a "mãozinha" */
    -fx-scale-x: 1.08;              /* Dá um leve zoom (efeito de pulo) */
    -fx-scale-y: 1.08;
}

/* Estado quando o botão é clicado */
#hamburger:pressed {
    -fx-scale-x: 0.95;              /* O botão "encolhe" levemente */
    -fx-scale-y: 0.95;
}